@import "tailwindcss";

@theme {
    --color-brand-bg: #0b1320; /*fundo principal*/
    --color-brand-primary: #d4af37; /*destaque / botões*/
    --color-brand-ink: #e6e6e6; /*texto sobre fundo escuro*/
    --color-brand-muted: #a3a3a3; /*legendas, secundário*/
    --color-brand-secondary: #b8860b;
}

html, body, #root {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-brand-bg);
    color: var(--color-brand-ink);
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}